In [1]:
import pandas as pd
import requests
import json
import numpy as np

In [2]:
url = 'https://graphql.anilist.co'

In [3]:
# Here we define our query as a multi-line string
query = '''
    query Query {
  MediaListCollection(userName: "leolion023", type: ANIME, status: COMPLETED) {
    lists {
      name
      entries {
        mediaId
        media {
          title {
            english
            romaji
          }
          format
        }
      }
    }
  }
}
'''

response = requests.post(url, json={'query': query}) # Make the HTTP Api request

In [4]:
json = response.json() #convert response to json
json.keys() #find keys

dict_keys(['data'])

In [5]:
df = pd.json_normalize(json['data'])
df

                           MediaListCollection.lists
0  [{'name': 'Completed', 'entries': [{'mediaId':...

In [6]:
df_1 = pd.json_normalize(df['MediaListCollection.lists'])
df_1

                                                   0
0  {'name': 'Completed', 'entries': [{'mediaId': ...

In [7]:
df_2 =pd.json_normalize(df_1[0])
df_2

        name                                            entries
0  Completed  [{'mediaId': 9624, 'media': {'title': {'englis...

In [8]:
df_3 = pd.json_normalize(df_2['entries']).T
df_3.head()

                                                   0
0  {'mediaId': 9624, 'media.title.english': 'A Th...
1  {'mediaId': 21711, 'media.title.english': '91 ...
2  {'mediaId': 9776, 'media.title.english': 'A-Ch...
3  {'mediaId': 8101, 'media.title.english': None,...
4  {'mediaId': 20785, 'media.title.english': 'Abs...

In [9]:
df_4 = pd.json_normalize(df_3[0])
df_4

,mediaId,media.title.english,media.title.romaji,media.format
0,9624,A Thirty-Year Old's Health and Physical Education,30-sai no Hoken Taiiku,TV_SHORT
1,21711,91 Days,91Days,TV
2,9776,A-Channel,A-Channel,TV
3,8101,None,Hen Zemi,OVA
4,20785,Absolute Duo,Absolute Duo,TV
...,...,...,...,...
1399,103301,ENDRO!,Endro~!,TV
1400,103638,Case File nº221: Kabukicho,Kabukichou Sherlock,TV
1401,103222,Magical Girl Spec-Ops Asuka,Mahou Shoujo Tokushusen Asuka,TV
1402,104679,Chidori RSC,Rifle Is Beautiful,TV
1403,114389,None,Fate/strange Fake TVCM,SPECIAL

In [14]:
df_5 = df_4.loc[df_4['media.format']=='TV']

In [15]:
df_5

,mediaId,media.title.english,media.title.romaji,media.format
1,21711,91 Days,91Days,TV
2,9776,A-Channel,A-Channel,TV
4,20785,Absolute Duo,Absolute Duo,TV
5,21823,ACCA: 13-Territory Inspection Dept.,ACCA: 13-ku Kansatsu-ka,TV
6,11759,Accel World,Accel World,TV
...,...,...,...,...
1398,112153,Pokémon Journeys: The Series,Pocket Monsters (2019),TV
1399,103301,ENDRO!,Endro~!,TV
1400,103638,Case File nº221: Kabukicho,Kabukichou Sherlock,TV
1401,103222,Magical Girl Spec-Ops Asuka,Mahou Shoujo Tokushusen Asuka,TV
1402,104679,Chidori RSC,Rifle Is Beautiful,TV

In [16]:
df_5.sort_values('mediaId')

,mediaId,media.title.english,media.title.romaji,media.format
430,20,Naruto,NARUTO,TV
859,30,Neon Genesis Evangelion,Shin Seiki Evangelion,TV
513,45,Rurouni Kenshin,Rurouni Kenshin: Meiji Kenkaku Romantan,TV
13,53,Ai Yori Aoshi,Ai Yori Aoshi,TV
109,59,Chobits,Chobits,TV
...,...,...,...,...
1377,176053,"Good Bye, Dragon Life",Sayonara Ryuusei Konnichiwa Jinsei,TV
1376,176311,Blue Exorcist -Beyond the Snow Saga-,Ao no Exorcist: Yuki no Hate-hen,TV
1337,176660,Sengoku Youko: The Thousandfold Chaos Arc,Sengoku Youko: Senma Konton-hen,TV
1371,178434,"As a Reincarnated Aristocrat, I'll Use My Appr...","Tensei Kizoku, Kantei Skill de Nariagaru 2nd S...",TV
1368,178533,Ranma1/2 (2024),Ranma 1/2 (2024),TV